.comments-form .comments-list {
/* 
  max-width: 30em;
  margin: 1em 0;
 */
  border-top: 1px solid #aaa;
}

.comments-form label span.required {
  color: red;
  font-size: 0.8em;
}

.comments-form input,
.comments-form textarea {
  width: 95%;
  border: 1px solid #aaa;
  border-radius: 0.2em;
}

.comments-form textarea {
  height: 5em;
}

.comments-form button {
/*   padding: 0.4em 1em; */
  padding: var(--s--2) var(--s0);
  border-radius: 0.3em;
  border: 1px solid #aaa;
  background-color: aliceblue;
}

.comments-form .alert {
  color: red;
}

.comments-list ul {
  list-style: none;
}

.comments-list > ul {
  padding: 0;
}

.comment-entry {
  margin-bottom: var(--s--1);
}

.comment-header {
  display: flex;
  font-size: var(--s--1);
  margin-bottom: 0;
}

.comment-text {
 font-size: var(--s--1);
}

.comment-gravatar {
  margin-right: var(--s--2);
}

.comment-gravatar > img {
  border-radius: 50%;
}

.comment-author {
  font-size: var(--s--1);
}

.comment-date {
  font-style: italic;
  font-size: var(--s--1);
}

.comment-reply {
  font-size: var(--s--2);
}

